<h1>Create new Task</h1>

<%= render 'form', task: @task %>
<!-- task: fais reference a la variable defini ds le form ds fichier _form.html.erb -->
<!-- @task fais reference a @task ds controller ds methode new-->
<!-- -->
